
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

html {
    height: 100%;
    background-color: #EEE;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    font-size: 1.2em;
    background-color: #ebf5ee;
    border: thin 3px #DDD;
    border-top: none;
    border-bottom: none;
    position: relative;
    overflow-x: hidden;
}

header {
    position: fixed;
    z-index: 9999;
    width: 100%;
}

@media all and (max-width: 1301px) {
    header {
        width: 100%;
    }
}

#contact {
    margin-bottom: 2rem !important;
}

/* ================== */

.service-icon {
    background-color: #444140;
    color: #F7EBE8;
}

a.tab-link {
    color: #959B99 !important;
}

a.tab-link.active {
    color: #fff !important;
    background-color: #444140 !important;
}

footer {
    background-color: #3E3C3B !important;
    color: #fff;
}


.carousel {
    overflow: hidden;
    max-height: 100%;
}

.skill_container {
    background-color: #35322F !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 10px 6px -6px #777;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    display: flex;
    flex-direction: column;
}

.skill_container__icon {
    position: absolute;
    left: 0;
    right: 0;
    top: -18px;
}

.skill_container__title {
    color: #f1f0ea;
    font-size: 1.21rem;
    font-weight: bold;
    margin-top: 1.9rem !important;
}

.skill_container__content {
    color: #ebf5ee !important;
    font-size: 1.13rem !important;
    padding: 15px;
    flex: 1;
}


@media all and (min-width: 800px) {

    .clienti {
        margin-left: -50px;
    }
}

@media all and (max-width: 990px) {
    .skill_container {
        margin-top: 25px !important;
    }
}

@media all and (max-width: 470px) {
    .hand_shaking_container__title {
        font-size: 1.8rem;
    }
}

header {
    z-index: 300;
}

.carousel_container {
    position: relative;
}


/* Full height on any device */
.carousel .carousel-item {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.carousel .carousel-item>*:first-child {
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    background-position: 50% 60%;
}

.carousel .carousel-item:first-child {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.carousel .carousel-item:first-child::before,
.carousel-item:last-child::before {
    background-color: black;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .6;
    position: absolute;
    display: block;
}

@media all and (max-width: 1030px) {
    .carousel .carousel-item>*:first-child {
        background-position: center;
    }
}

@media all and (min-width: 1240px) {
    .carousel .carousel-item:not(:last-child)>*:first-child {
        background-position: 50% 24%;
    }

    .carousel .carousel-item:last-child>*:first-child {
        background-position: 50% 69%;
    }
}

.services {
    justify-content: center !important;
}

.black-bg {
    background-color: #272522;
    color: #E5E5E5 !important;
}

#services h1 {
    margin-top: .89rem;
}

.section_title {
    text-shadow: 2px 2px 1px #444140;
    color: #DDD !important;
}

@media all and (max-width: 768px) {

    .footer_position>.link-container,
    h5 {
        margin-left: 0 !important;
    }

    .link-container__center {
        max-width: 199px;
    }

    .link-container__center.larger {
        max-width: 196px;
    }

    .link-container {
        display: flex;
        justify-content: center !important;
    }
}

.row.footer_position {
    padding-left: 5%;
}

.section_title {
    color: #272522 !important;
}

.navbar-brand {
    font-family: Pacifico, sans-serif !important;
    font-size: 1.4rem;
    flex: 1;
}

/* ========================== */

#contact {
    width: 100%;
}

.c-carousel {
    width: 1280px;
    min-height: 200px;
    position: relative;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    .c-carousel {
        width: 80%;
    }
}

.c-carousel__inner {
    overflow: hidden;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}

.c-carousel__content {
    display: inline-flex;
    height: 100%;
    transition: all .5s;
}

.c-card {
    width: 370px;
    height: 450px;
    flex-shrink: 0;
    padding-right: 1rem;
    will-change: transform;
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
}

.c-card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.c-card__inner {
    width: 100%;
    height: 100%;
    background-color: inherit;
    /* border: 1px solid #ccc; */
    /* border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; */
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-carousel__buttons .c-carousel__button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    cursor: pointer;
}

.c-carousel__buttons--dark .c-carousel__button {
    background-color: #3A3836;
    color: #E5E5E5 !important;
}

.c-carousel__buttons .c-carousel__button.c-carousel--prev {
    left: -2.5rem;
}

.c-carousel__buttons .c-carousel__button.c-carousel--next {
    right: -2.5rem;
}

.h-show {
    display: block;
}

.h-hide {
    display: none;
}

/* ======================== */

.custom-row {
    /* background-color: #3A3836;
    color: #E5E5E5 !important; */
    width: 100%;
    column-count: 1;
    padding: 1rem 3rem;
}

.custom-row .big-card:nth-child(2) {
    margin-top: 1rem;
}

@media only screen and (min-width: 1240px) {
    .custom-row {
        column-count: 2;
    }

    .custom-row .big-card:nth-child(2) {
        margin-top: 0;
    }

    .custom-row .big-card:not(:first-child) {
        margin-top: 1rem;
    }
}

.big-card {
    width: 100%;
    min-height: 15rem;
    background-color: #3A3836;
    color: #ebf5ee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.big-card__header {
    text-align: center;
    padding-top: .19rem 0;
    border-bottom: 1px solid #272522;
    background-color: #4E4C4A;
    font-size: 1.45rem;
}

.big-card__main, .big-card__main--activity {
    flex: 1 0;
}

.big-card__main--activity {
    position: relative;
}

.big-card__main--activity::after {
    content: "";
    position: absolute;
    top: 0;
    left: 140px;
    bottom: 0;
    width: 1px;
    background-color: #f0f0f0;
}

.big-card__main--other {
    padding: .6rem;
}

.big-card__row {
    display: flex;
    position: relative;
    margin-top: 1rem;
}
.big-card__row:last-child {
    margin-bottom: .7rem;
}

.big-card__date {
    font-size: .9rem;
    flex-basis: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3px;
    height: 30px;
}

.big-card__icon {
    position: absolute;
    left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    width: 30px;
    height: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: #f0f0f0;
    color: #272522;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
}

.big-card__info {
    flex: 1;
    padding-left: .6rem;
    padding-right: .6rem;
    margin-left: 10px;
}

.indent {
    padding-left: 1rem;
}

.list-bullet {
    position: relative;
}

.list-bullet::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 8px;
    left: 0px;
}

/* =================== */

.c-video {
    width: 80%;
    min-height: 10rem;
    max-height: 760px;
    margin: 0 auto;
    position: relative;
}

.c-video__slider {
    height: 100%;
    text-align: center;
    padding-top: 10px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    overflow: hidden;
}

.c-video__item {
    text-align: center;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
}

.c-video__item--video {
    width: 60%;
    height: 700px;
    margin-top: .5rem;
}

/* ======================== */

.biografie {
    font-size: 1.3rem;
}

/* ======================== */

.c-footer {
    display: flex;
    justify-content: flex-start;
}

.c-footer__content {
    flex: 1 0 50%;
    padding: .4rem;
    text-align: right;
    font-size: .97rem;
}

.c-footer__spacer {
    flex: 1 0 10%;
}

.c-list {
    list-style: none;
}

.c-list--footer {
    margin-right: 1rem;
    font-size: .8rem;
}

.c-list__item {
    display: inline;
}

.c-list__item a {
    color: #ABB3AE;
}

.c-list__item a:hover {
    text-decoration: none;
}

.c-list__item:not(:last-child) {
    margin-right: .7rem;
}

